{% extends 'base.html' %}
{% block content %}
  {% include 'new.html'%}
  <div class='col-xs-12'>
    <h1>
      Your Todos
      <small class='pull-right'>
        {% now 'jS F Y' %}
      </small>
    </h1>
    <hr>
  </div>

  <div class='col-xs-12 col-sm-6'>
    <h3>Unfinished</h3>
    <div class='well'>
      <ul class='list-unstyled'>
        {% for todo in unfinished_todos %}
          {% include '_todo.html' with todo=todo %}
        {% empty %}
          <li>I'm sad! There's nothing todo :(</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class='col-xs-12 col-sm-6'>
    <h3>Finished</h3>
    <div class='well'>
      <ul class='list-unstyled'>
        {% for todo in finished_todos %}
          {% include '_todo.html' with todo=todo %}
        {% empty %}
          <li>You have not finished any task today...</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class='col-xs-12 text-left'>
    <button type='button' class='btn btn-primary btn-md' data-toggle='modal' data-target='#new-todo-modal'>Add new todo</button>
  </div>
{% endblock %}
