{% extends 'base.html' %}
{% block content %}
  <div class='col-xs-12'>
    <h1>
      Your Todos
      <small class='pull-right'>
        {% now 'jS F Y' %}
      </small>
    </h1>
    <hr>
  </div>

  <div class='col-xs-12'>
    <ul class="list-unstyled">
      {% for todo in todos %}
        <li>
          <article>
            {% if todo.is_done %}
              <header><strike>{{ todo.title }}</strike></header>
            {% else %}
              <header>{{ todo.title }}</header>
            {% endif %}
            <summary>
              {{ todo.description }}
            </summary>
            <section>
              {% if todo.is_done %}
                <a href="{% url 'todo_unfinish' todo.id %}">Mark as NOT done</a>
              {% else %}
                <a href="{% url 'todo_finish' todo.id %}">Mark as DONE</a>
              {% endif %}
            </section>
          </article>
        </li>
      {% empty %}
        <li>I'm sad! There's nothing todo :(</li>
      {% endfor %}
    </ul>
    <br>
    <br>
    <br>
    <div class='text-left'>
      <button type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#new-todo-modal'>Add new todo</button>
    </div>
  </div>
{% endblock %}
