<div id='new-todo-modal' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title'>Add Todo</h4>
      </div>
      <div class='modal-body'>
        <form id='todo-create-form' method="post" action="{%url 'todo_create'%}">
          {% csrf_token %}
          <label>Title</label>
          <input class="form-control" name="title" type="text" value="" required></input>
          <label>Description</label>
          <textarea class="form-control" name="description" type="text" value="" required></textarea>
          <input type="submit" value="Submit" class='hidden'>
        </form>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button type='button' class='btn btn-primary modal-submitter' data-form-id='todo-create-form'>Save</button>
      </div>
    </div>
  </div>
</div>
